{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <h1>Edit User</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ include('admin/user/_form.html.twig') }}
        <button class="btn btn-primary">Save</button>
        <a href="{{ path('admin_user_show', {'id': user.id}) }}" class="btn btn-link">Cancel</a>
    {{ form_end(form) }}
{% endblock %}
