{% extends 'base.html.twig' %}

{% block content %}
    <h1>Users</h1>
    <user-table :items="{{ users_json }}" show-link="{{ path('admin_user_show', {'id': '_id_'}) }}"></user-table>
    <a href="{{ path('admin_user_new') }}" class="btn btn-primary">Add New</a>
{% endblock %}
