{% extends 'base.html.twig' %}

{% block title %}Edit Project Type{% endblock %}

{% block content %}
    <h1>Edit Project Type</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ include('admin/project_type/_form.html.twig') }}
        <button class="btn btn-primary">Save</button>
        <a href="{{ path('admin_project_type_show', {'id': projectType.id}) }}" class="btn btn-link">Cancel</a>
    {{ form_end(form) }}
{% endblock %}
