{% extends 'base.html.twig' %}

{% block title %}Project Type{% endblock %}

{% block content %}
    <h1>Project Type</h1>

    {{ include('admin/project_type/_detail.html.twig') }}
    <a href="{{ path('admin_project_type_edit', {'id': project_type.id}) }}" class="btn btn-primary">Edit</a>
    <a href="{{ path('admin_project_type_delete', {'id': project_type.id}) }}" class="btn btn-danger">Delete</a>
    <a href="{{ path('admin_project_type_index') }}" class="btn btn-link">Back</a>
{% endblock %}
