<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ project_title.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ project_title.name }}</td>
        </tr>
    </tbody>
</table>
