{% extends 'base.html.twig' %}

{% block title %}New Project Title{% endblock %}

{% block content %}
    <h1>Create new Project Title</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ include('admin/project_title/_form.html.twig') }}
        <button class="btn btn-primary">Save</button>
        <a href="{{ path('admin_project_title_index') }}" class="btn btn-link">Cancel</a>
    {{ form_end(form) }}
{% endblock %}
