<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.title) }}
        {{ form_row(form.description, {'attr': {'rows': '8'}}) }}
        {{ form_row(form.dueDate) }}
    </div>
</div>
<datalist id="task-titles">
    {% for taskTitle in taskTitles %}
        <option>{{ taskTitle.name }}</option>
    {% endfor %}
</datalist>
