{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block content %}
    <h1>Edit Task</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ include('task/_form.html.twig') }}
        <button class="btn btn-primary">Save</button>
        <a href="{{ path('task_show', {'id': task.id}) }}" class="btn btn-link">Cancel</a>
    {{ form_end(form) }}
{% endblock %}
