:root {
  font-size: 13px;
}
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

body {
  padding-bottom: 6rem;
}

#content-wrapper {
  @extend .pt-4;
}
#content-wrapper > h1,
#content-wrapper > .project-detail {
  @extend .mt-2;
  @extend .mb-4;
}
.project-detail {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.detail-status {
  @extend .badge;
  @extend .badge-danger;
  @extend .float-lg-right;
  @extend .mt-4;
  font-size: 1.5rem;
}

.task-detail-status {
  @extend .badge;
  @extend .float-lg-right;
  @extend .mt-4;
  font-size: 1.5rem;
}

.table-toolbar > div {
  @extend .py-1;
}

.form-group-static {
  @extend .form-group;
  @extend .row;

  > label {
    @extend .col-form-label;
    font-weight: bold;
  }

  > div {
    @extend .form-control-plaintext;
  }
}

.contact-attr-collection {
  margin-bottom: 3rem;
  .empty-row {
    font-style: italic;
  }
}
