{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    {{ include('contact/_detail.html.twig') }}
    <div>
        <a href="{{ path('contact_edit', {'id': contact.id}) }}" class="btn btn-primary">Edit</a>
        {% if is_granted('ROLE_ADMIN') %}
            <span class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('contact_delete', {'id': contact.id}) }}">Delete Contact</a>
                </div>
            </span>
        {% endif %}
        <a href="{{ path('contact_index') }}" class="btn btn-link">Back</a>
    </div>

{% endblock %}
