{% extends "base.html.twig" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="my-4">Testing Test</h1>
            <div class="alert alert-primary">Test</div>
        </div>
    </div>
</div>
{% endblock %}
