{% extends 'base_base.html.twig' %}

{% set container_type = 'container' %}

{% block body %}
    {% include 'navbar.html.twig'  %}
    {#
    {% include 'navbar_c.html.twig' %}
    <navbar :is-admin="true" title="Direct Vue">
        <b-navbar-nav>
            <b-nav-item href="/test/table">Table</b-nav-item>
            <b-nav-item href="/test/other">Other</b-nav-item>
        </b-navbar-nav>
    </navbar>
    #}
    <div class="{{ container_type }}">
        <div class="row">
            <div class="col" id="content-wrapper">
                {% for label, messages in app.flashes %}
                    <div class="alert alert-{{ label }}">
                        {% for message in messages %}
                            {{ message }}<br />
                        {% endfor %}
                    </div>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
