{% extends "base.html.twig" %}
{% block body %}
<h1>Testing</h1>

<b-alert show>Test</b-alert>
<b-row>
    <b-col>
        <b-nav pills vertical>
    <b-nav-item active>Active</b-nav-item>
    <b-nav-item>Link</b-nav-item>
    <b-nav-item>Another Link</b-nav-item>
    <b-nav-item disabled>Disabled</b-nav-item>
  </b-nav>
    </b-col>
    <b-col sm="10">
        <item-table :items="{{ items }}"></item-table>
    </b-col>
</b-row>

{% endblock %}
