{% extends 'base.html.twig' %}

{% block title %}Edit Organisation{% endblock %}

{% block content %}
    <h1>Edit Organisation</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ include('organisation/_form.html.twig') }}
        <button class="btn btn-primary">Save</button>
        <a href="{{ path('organisation_show', {'id': organisation.id}) }}" class="btn btn-link">Cancel</a>
    {{ form_end(form) }}
{% endblock %}
