{% if not project.active %}
    <span class="detail-status">Inactive</span></small>
{% endif %}
<div class="project-detail">
    {{ project.type }}<br />
    {{ project.property }}<br />
    {{ project.title }}
</div>
