{{ form_widget(form) }}
<datalist id="project-titles">
    {% for projectTitle in projectTitles %}
        <option>{{ projectTitle.name }}</option>
    {% endfor %}
</datalist>
<datalist id="project-types">
    {% for projectType in projectTypes %}
        <option>{{ projectType.name }}</option>
    {% endfor %}
</datalist>
