<div class="row">
    <div class="col-lg-6">
        {{ form_widget(form) }}
    </div>
</div>
<datalist id="project-titles">
    {% for projectTitle in projectTitles %}
        <option>{{ projectTitle.name }}</option>
    {% endfor %}
</datalist>
<datalist id="project-types">
    {% for projectType in projectTypes %}
        <option>{{ projectType.name }}</option>
    {% endfor %}
</datalist>
