{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block content %}
    <h1 class="my-4">Create new Project</h1>

    {{ include('project/_form.html.twig') }}

    <a href="{{ path('project_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
